.SilosContainer{
    height: 100vh; 
    max-width: 100vw; 
    overflow: hidden; 
    background-color: FFFFFF; 
    z-index: 1; 
    display: flex;
}

.SilosDiv{
    height: 100vh;
    width: 100%;
    max-width: 100vw; 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: #FFFFFF; 
    overflow: hidden
}

.TextWrapper{
    padding: 20px 40px;
    width: 40%;
    margin-right: 40%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    position: absolute;
}

.SilosText{
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(to right, #433E99, #EF4B32);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
}

.SilosButton{
    padding: 10px 30px;
    border: 1px solid #2A266A;
    color: #2A266A;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover{
        background-color: #2A266A;
        color: #FFFFFF;
    }
}

.SilosImage{
    width: 90vw; 
    height: 110vh; 
    margin-left: 40vw;
    margin-top: 15vh;
    overflow: hidden;
    object-fit: cover;
}